<footer>
  <div class="logo">
      <a href="./index.html"><img src="/assets/images/Star_Wars_Logo.svg.png" width="250" height="200"></a>
  </div>
  <div class="title">
      <div class="titulo">
          <h3>Redes Sociales</h3>
      </div>
  <div class="menuFooter">
      <a href="https://x.com/starwars?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="/assets/images/twitter.png"></a>
      <a href="https://www.youtube.com/@StarWars"><img src="/assets/images/youtube.png"></a>
      <a href="https://web.facebook.com/StarWars/?_rdc=1&_rdr"><img src="/assets/images/facebook (3).png"></a>
      <a href="https://www.starwars.com/"><img src="/assets/images/globo.png"></a>
      <a href="https://www.instagram.com/starwars/?hl=es"><img src="/assets/images/instagram.png"></a>
  </div>
  </div>
</footer>
